<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="assets/svg-icons/explore.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon style="color: #bebcbc" src="assets/svg-icons/chalkboard-teacher.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="assets/svg-icons/heart-gray.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="assets/svg-icons/bell-gray.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon src="assets/svg-icons/settings.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>