<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="primary" slot="icon-only" src="assets/svg-icons/menu.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="container-searchbar">
      <ion-row style="justify-content: space-between">
        <ion-searchbar enterkeyhint="search" class="ion-no-border"></ion-searchbar>
        <ion-item class="item-select" lines="none">
          <ion-select mode="ios" interface="popover" [value]="selectedFilter">
            <ion-select-option selected value="course">Course</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </div>
    <div slot="end" class="container-profile">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlNyI5Bbsl1vq1BQjH9XA-Z4j0Kkk0cEpAnA&usqp=CAU">
      <div class="indicator-online"></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="my-padding">

  <p class="welcome-text">Welcome,
    <span>John Doe</span>
  </p>

  <ion-row class="row-shortcuts">
    <ion-col size="6">
      <ion-card class="card-go-to completed-course">
        <ion-item lines="none">
          <div class="align-oval" slot="start"></div>
          <div>
            <p class="label">Course
              <br> Completed</p>
            <p class="value">70</p>
          </div>
        </ion-item>

        <ion-icon class="arrow-icon" src="assets/svg-icons/right-arrow.svg"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="card-go-to in-progress">
        <ion-item lines="none">
          <div class="align-oval" slot="start"></div>
          <div>
            <p class="label">Course
              <br>InProgress</p>
            <p class="value">70</p>
          </div>
        </ion-item>
        <ion-icon class="arrow-icon" src="assets/svg-icons/right-arrow.svg"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="card-go-to favourite-course">
        <ion-item lines="none">
          <div class="align-oval" slot="start"></div>
          <div>
            <p class="label">Favourite
              <br>Course</p>
            <p class="value">70</p>
          </div>
        </ion-item>
        <ion-icon class="arrow-icon" src="assets/svg-icons/right-arrow.svg"></ion-icon>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="card-go-to asked-query">
        <ion-item lines="none">
          <div class="align-oval" slot="start"></div>
          <div>
            <p class="label">Asked
              <br>Query</p>
            <p class="value">70</p>
          </div>
        </ion-item>
        <ion-icon class="arrow-icon" src="assets/svg-icons/right-arrow.svg"></ion-icon>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="container-recents">
    <h2 class="align-heading">Continue where you left off</h2>
    <ion-card *ngFor="let recent of recentWatch" class="card-video">
      <ion-item lines="none">
        <img slot="start" [src]="recent?.thumb">
        <div>
          <p class="align-title">{{recent?.title}}</p>
          <ion-row class="row-tags">
            <p class="align-tag">{{recent?.tags?.genre}}</p>
            <p class="align-tag level">{{recent?.tags?.level}}</p>
            <p class="align-tag type">{{recent?.tags?.type}}</p>
          </ion-row>
        </div>

        <circle-progress style="margin-left: 0" slot="end" [percent]="recent?.completed" [radius]="25" [outerStrokeWidth]="6" [innerStrokeWidth]="1"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [showSubtitle]="false" [titleFontSize]="15"
          [animationDuration]="300"></circle-progress>
      </ion-item>
    </ion-card>
  </div>

  <ion-segment class="align-segment" scrollable [value]="selectedSeg">
    <ion-segment-button value="explore">
      <ion-label>Let's Explore</ion-label>
    </ion-segment-button>

    <ion-segment-button value="new">
      <ion-label>Whats's New</ion-label>
    </ion-segment-button>

    <ion-segment-button value="recents">
      <ion-label>Recent Views</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row class="scrollable-row">
    <ion-card *ngFor="let course of allCourses" class="card-courses">
      <img [src]="course?.thumb">
      <p>{{course?.title}}</p>
      <ion-row class="row-stats">
        <p class="likes">
          <ion-icon src="assets/svg-icons/thumbs-up.svg"></ion-icon>
          {{course?.likes}} Likes
        </p>

        <p class="views">
          <ion-icon src="assets/svg-icons/view.svg"></ion-icon>
          {{course?.views}} Views
        </p>
      </ion-row>

      <ionic5-star-rating #rating activeIcon="star" defaultIcon="star-outline" activeColor="#f2b40b" defaultColor="#f2b40b" readonly="true"
        [rating]="course?.ratings" fontSize="15px">
      </ionic5-star-rating>
    </ion-card>
    <div style="width: 10px; height: 20px;"></div>
  </ion-row>
</ion-content>