.my-padding {
    --padding-start: 10px;
    --padding-end: 10px;
}

.container-searchbar {
    background: #eceff4;
    border-radius: 30px;
    overflow: hidden;
}

ion-searchbar {
    --box-shadow: none;
    --background: transparent;
    width: calc(100% - 110px);
}

.item-select {
    --background: transparent;

    ion-select {
        font-size: 12px;
    }
}

.container-profile {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px;
    margin-right: 5px;

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

.indicator-online {
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 6px;
    right: 9px;
    border-radius: 50%;
    background: var(--ion-color-success);
    border: 1px solid var(--background);
}

.welcome-text {
    margin: 0;
    font-size: 20px;
    color: gray;
    margin-top: 20px;

    span {
        font-weight: bold;
    }
}

.row-shortcuts {
    padding: 15px 10px;
}

.card-go-to {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;

    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
}

.align-oval {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.label {
    color: gray;
    margin: 0;
    font-size: 10px;
}

.value {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.arrow-icon {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.completed-course {
    ion-icon {
        color: #5aacff;
    }

    .align-oval {
        background: #5aacff;
    }
}

.in-progress {
    ion-icon {
        color: #ff5a7a;
    }

    .align-oval {
        background: #ff5a7a;
    }
}

.favourite-course {
    ion-icon {
        color: #d95aff;
    }

    .align-oval {
        background: #d95aff;
    }
}

.asked-query {
    ion-icon {
        color: #ffac5a;
    }

    .align-oval {
        background: #ffac5a;
    }
}

.container-recents {
    margin-top: 20px;
}

.align-heading {
    margin: 0;
    font-size: 17px;
}

.card-video {
    border-radius: 20px;
    margin: 25px 10px;

    img {
        width: 75px;
        margin-right: 15px;
        height: 75px;
        object-fit: cover;
        border-radius: 10px;
    }

    ion-item {
        padding-top: 15px;
        padding-bottom: 15px;
        --inner-padding-end: 5px;
    }
}

.align-title {
    margin: 0;
    font-size: 15px;
}

.row-tags {
    padding: 10px 0;
}

.align-tag {
    margin: 0;
    background: var(--ion-color-primary);
    font-size: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.level {
    background: var(--ion-color-secondary);
}

.type {
    background: var(--ion-color-warning);
}

.align-segment {
    --indicator-color: transparent !important;
    --indicator-color-checked: transparent !important;
}

.card-courses {
    border-radius: 20px;
    padding: 10px;

    img {
        height: 130px;
        width: 160px;
        object-fit: cover;
    }
}

.row-stats {
    justify-content: space-between;
    margin-bottom: 10px;

    p {
        margin: 0;
        font-size: 12px;
    }

    .likes {
        color: var(--ion-color-secondary);

        ion-icon {
            color: var(--ion-color-secondary);
        }
    }
}

.scrollable-row {
    overflow-x: scroll;
    flex-wrap: unset;
    display: -webkit-box;
    padding-left: 10px;
}